.header{
    background-color: #286bcf;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.container-logo{
    display: flex;
    align-items: center;
    color: #fff;
}
.container-logo>h1{
    margin-left: 15px;
}
.logo{
    font-size: 50px;
    color: rgb(136 177 67);
}
nav>a{
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}
nav>a:hover{
    color: rgb(136 177 67);
}
.centrar{
    text-align: center;
    padding: 11px 2%;
    background-color: #edeaea;
    width: 80%;
    margin: 12px auto;
    border-radius: 5px;
    border: 2px solid #e1e1e1;
}
p{
    text-align: justify;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    min-height: 100vh;
    background-color: white;
}
.footer{
    position: relative;
    background-color: #286bcf;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.social-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px 5px;
    flex-wrap: wrap;
}
.icon-elem{
    list-style: none;
}
.icon{
    color: white;
    font-size: 32px;
    display: inline-block;
    margin: 0 10px;
    transition: 0.5s;
}
.icon:hover{
    transform: translateY(-10px);
}
.menu{
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}
.menu-elem{
    list-style: none;
}
.menu-icon{
    color: white;
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    margin: 5px 10px;
    opacity: 0.75;
    transition: 0.3s;   
}
.menu_icon:hover{
    opacity: 1;
}
.text{
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 20px;
}
